#
# NOTE! Don't add files that are generated in specific
# subdirectories here. Add them in the ".gitignore" file
# in that subdirectory instead.
#
# NOTE! Please use 'git-ls-files -i --exclude-standard'
# command after changing this file, to see if there are
# any tracked files which get ignored after the change.
#
# Normal rules
#
.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.lo
*.la
*.pc

#
# Top-level generic files
#
Module.symvers
!.gitignore

# stgit generated dirs
patches-*

# cscope files
cscope.*
ncscope.*

*.orig
*~
\#*#

/kernel
/_kernel

# autotools
/compile
/depcomp
/ltmain.sh
/install-sh
/missing
/configure
/config.*
/aclocal.m4
/autom4te.cache/
/libtool
/stamp-h1
Makefile.in
Makefile

# Generated archive
/kerrighed-*.tar.gz
/kerrighed-*.tar.bz2
